In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("sample-spiral-data.csv")
df.head()

         x1        x2  y
0  0.000000  0.000000  0
1 -0.000650  0.010080  0
2  0.009809  0.017661  0
3  0.007487  0.029364  0
4 -0.000027  0.040404  0